{%load static%} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Cola de espera</title>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/offcanvas-navbar/">

    
<link href={%static '/css/bootstrap.min.css'%} rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href={%static '/css/listas_85.css'%} rel="stylesheet">
  </head>
  <body class="bg-light">
    
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pagina principal</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href = "{%url 'Grabar'%}">Registrar Turno</a>
        </li>
 
      </ul>

    </div>
  </div>
</nav>



<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src={%static '/img/bootstrap-logo.svg'%} alt="" width="48" height="38">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Cola de espera</h1>
    </div>
  </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <div class="row mb-3 text-center">
            <div class="col-1 themed-grid-col">PRIORIDAD</div>
            <div class="col-2 themed-grid-col">NOMBRE</div>
            <div class="col-2 themed-grid-col">APELLIDO</div>
            <div class="col-2 themed-grid-col">CEDULA</div>
            <div class="col-2 themed-grid-col">ID</div>
            <div class="col-2 themed-grid-col">TICKET</div>
            <br> <br> 
            <hr size = "10px" color  = "blue"/>
        </div>
        

        {%block content%}

            {%for listado_clientes in listado_clientes%}

            <div class="row mb-3 text-center">

                

                <div class="col-1 themed-grid-col">{{listado_clientes.prioridad    }} </div>
                <div class="col-2 themed-grid-col">{{listado_clientes.nombre   }} </div>
                <div class="col-2 themed-grid-col">{{listado_clientes.apellido }} </div>
                <div class="col-2 themed-grid-col">{{listado_clientes.cedula   }} </div>
                <div class="col-2 themed-grid-col">{{listado_clientes.id }} </div>
                <div class="col-2 themed-grid-col">{{listado_clientes.ticket }} </div>

                  <div align = "right" >

                    <form action="http://127.0.0.1:8000/eliminar/{{listado_clientes.id}}">

                      {% csrf_token %}
                      
                      <input type="submit" class="btn btn-danger" value="ELIMINAR" action = "http://127.0.0.1:8000/eliminar/{{listado_clientes.id}}" >
              
                    </form>

                  <div>
               




                <hr size = "4px" color  = "black"/>
    
             
            <div>


            {% endfor %}

        {% endblock %}



    </div>
</main>




<form action="context"></form>

    <script src={%static '/js/bootstrap_lista.min.js'%} integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      <script src={%static '/js/listas.js'%}></script>
  </body>
</html>
