{%load static%} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Registrar</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

    

    

<link href={%static '/css/bootstrap_login.min.css'%} rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href = {%static '/css/estilo_login.css'%} rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin w-100 m-auto">

  
        <img class="mb-4" src={%static '/img/bootstrap-logo.svg'%} alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Registrar Turno</h1>

      <form action="http://127.0.0.1:8000/grabar/" method="post">
          {% csrf_token %}

         <br>
          
          
          <div class="form-floating">

            <input type="text" id="cedula" class ="form-control" name="cedula" placeholder="Cedula" value= >
            <label for="floatingPassword">Cedula</label>
          
          </div>
        
        
              <div class="form-floating">
              
              <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre" value=>
              <label for="floatingPassword">Nombre</label>
              
              <div>


                  <div class="form-floating">

                  <input type="text" id="apellido" class="form-control" name="apellido" placeholder="Apellido" value=>
                  <label for="floatingPassword">Apellido</label>

                  <br>
                  <p><strong>Seleccione su servicio y prioridad</strong></p>
                  <select name="servicio" class = "form-control-lg " >
                    
                    <!-- Opciones de la lista -->
                    <option value="1">Servicio_T</option>
                    <option value="2" selected>Servicio_K</option> <!-- Opción por defecto -->
                    <option value="3">Servicio_Q</option>
                  </select>


                  <br> <br>
                  <select name="prioridad"  class = "form-control-lg ">
                    <!-- Opciones de la lista -->
                    <option value="1">Alta</option>
                    <option value="2" selected>Media</option> <!-- Opción por defecto -->
                    <option value="3">Baja</option>
                  </select>

                  <div>

    
        <br>  

        <input class="w-100 btn btn-lg btn-primary" type="submit" class="fadeIn fourth" value="Registrar">
       
       
      </form>


      <form action="http://127.0.0.1:8000/lista/" method="post">

        {% csrf_token %}
         
        <br>
        <input class="w-100 btn btn-lg btn-primary" type="submit" class="fadeIn fourth" value="Ver cola de espera">

      </form>

</main>

  </body>
</html>

